.nft-view{
  transition: all 300ms;
}
@media (min-width: 750px) {
  .nft-view{
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 750px) and (max-width: 1460px) {
  .nft-view{
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 749px) {
  .nft-view{
    width: 200px;
    height: 200px;
  }
}
